
*{
  padding: 0%;
  margin: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: #e2629a;
}

.conatiner{
  background-color: #f38cbb;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  text-align: center;
  padding : 10px;
  max-width: 300px;
}

.input-container{
  display: flex;
  background-color: #e2629a;
  padding: 5px 5px 5px 10px;
  margin: 5px;
  border-radius: 2px;
}

.input-container input{
  width: 85%;
  outline: none;
  padding: 5px;
  border: transparent;
  border-radius: 2px;
}

.input-container span i{
  color: white;
  padding: 5px;
  cursor: pointer;
}
.border-2{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e2629a; 
}

.task-container{
  background: rgb(255, 255, 255);
  padding: 5px 0px 5px 0px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  border-radius: 2px;
}
.task-container i{
  cursor: pointer;
}
.task-container div{
  padding : 0px 5px 0px 10px;
}
.task-container i{
  padding : 0px 5px 0px 3px;
}
.completedtask{
  display: flex;
  justify-content: space-between;
}
.completedtask i{
  justify-content: space-between;
  background-color: white;
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  box-sizing: content-box; 
}

@media screen and (max-width: 450px){
  .conatiner{
    min-width: 80%;
    margin-top: 200px;
  }
}