
*{
  padding: 0%;
  margin: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: #e2629a;
}

.conatiner{
  background-color: #f38cbb;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  text-align: center;
  padding : 10px;
  max-width: 300px;
}

.input-container{
  display: flex;
  background-color: #e2629a;
  padding: 5px 5px 5px 10px;
  margin: 5px;
  border-radius: 2px;
}

.text-right{
  text-align: right;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

.input-container input{
  width: 85%;
  outline: none;
  padding: 5px;
  border: transparent;
  border-radius: 2px;
}

.input-container span i{
  color: white;
  padding: 5px;
  cursor: pointer;
}
.border-2{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e2629a; 
}

.fa-plus{
  margin: 5px;
}

.task-container{
  background: rgb(255, 255, 255);
  padding: 5px 0px 5px 0px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  border-radius: 2px;
}
.task-container i{
  cursor: pointer;
}
.task-container div{
  padding : 0px 5px 0px 10px;
}
.task-container i{
  padding : 0px 5px 0px 3px;
}
.completedtask{
  display: flex;
  justify-content: space-between;
}
.completedtask i{
  justify-content: space-between;
  background-color: white;
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  box-sizing: content-box; 
}

@media screen and (max-width: 450px){
  .conatiner{
    min-width: 80%;
    margin-top: 200px;
  }
}

/* animation for page load*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e2629a;
}
.conatiner .page_load_animation{
  height: 50px;
}

.wave {
  width: 5px;
  height: 30px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}